//bug fixed in kbnoGalTest
*{
    font-family: 'Anton', sans-serif;
    //margin: .5em;
}

header.navigation{
    display: flex;
    justify-content: space-between;
    //margin: 1em;
    
    nav{
        margin: 0;
        color: red;
        background: blue;
        position: fixed;
        height: 100vh;
        width: 50%;
        right: 0;
        top: 0;
        transform: translateX(100%);
    }
    ul{
        list-style: none;
        margin-top: 5em;
        margin-left: -2em;
        li{
            display: block;
            margin: 2em;
        }
    }

    //MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO
    .diamond{
        position: absolute;
        margin: 0;
        margin-top: 1.9em;
        margin-left: 1.1em;
        color: red;
        font-size: 1.2rem;
    }
    //MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO
    .menuIcon, .closeIcon{
        position: absolute;
        color: limegreen;
        font-size: 1.3rem;
        right: 0;
        top: .6em;
        margin: 1.2em;
    }
    .menuLogo{
        margin: .8em;
        margin-left: 1em;
        font-size: 1.3rem;
        text-shadow: 0px 3px 3px gray;
    }
}//header menu nav
//HEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHEROHERO
section.hero{
    margin: .5em;
    .heroImg{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: -8em;
        background: url(../images/kbnoGalleryHero.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50em;
        width: 100%;
        z-index: -1;    
    }
    
    .borderKbno, .borderKbno2, .borderKbno3{
        display: block;
        position: absolute;
        margin-left: -.4em;
        color: red;
        opacity: .5;
        rotate: 270deg;
        text-transform: uppercase;
        font-size: 10rem;
        z-index: -1;
    }
    .borderKbno{
        margin-top: .4em;
    }
    .borderKbno2{
        margin-top: 3em;
    }
    .borderKbno3{
        margin-top: 5.7em;
    }
    .diamondB, .diamondB2, .diamondB3{
        position: absolute;
        color: purple;
        rotate: 270deg;
        font-size: 8rem;
        margin: 0em;
        margin-left: .27em;
        margin-top: 2.3em;
        z-index: -1;
    }
    .diamondB2{
        margin-top: 5.6em;
    }
    .diamondB3{
        //margin: 0;
        //padding: 0;
        margin-top: 9em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .welcomeM{
        position: relative;
        margin: .5em;
        font-size: 3rem;
        text-align: center;
        color: red;
        text-shadow: 3px 3px 5px black;
        top: 1em;
        animation: moveDown 2s forwards;
    }
    .bubbles{
        display: flex;
        justify-content: center;
        p{
            text-align: center;
        }
    }
    .circle1, .circle2, .circle3{
        position: relative;
        top: 2.5em;
        border-radius: 50%;
        background-color: #38b6ff;
        margin: .5em;
        margin-bottom: 10em;
        height: 8em;
        width: 8em;
        display: inline-block;
        .topic1, .topic2, .topic3{
            margin: .5em;
            position: relative;
            top: 1.5em;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #004aad;
            animation: moveTopics 4s forwards;
        }
        .topic2{
            color: #008037
        }
        .topic3{
            color: #ff914d;
        }
        .bub1Cont, .bub2Cont, .bub3Cont{
            opacity: 0;
            color: gray;
        }
        &:hover{
            height: 30em;
            width: 8em;
            border-radius: 10px;
            transition: ease-in-out 2s;
            .bub1Cont, .bub2Cont, .bub3Cont{
                transform: translateY(25px);
                opacity: 1;
                transition: ease-in-out 3s;
            }
        }
    }
    .circle2{
        background-color: #7ed957;
    }
    .circle3{
        background-color: #ffde59;
    }
}
//imageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGAL
//imageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGAL
//imageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGALimageGAL
section.imageGal{
    //opacity: 0;
    position: relative;
    left: 12.5%;
    margin: 0;
    padding: 0;
    width: 75%;//50%
    height: 50%;//30em
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 30px;
    //borderANDpicsborderANDpicsborderANDpicsborderANDpicsborderANDpicsborderANDpicsborderANDpicsborderANDpicsborderANDpics
    .slider{
        width: 800px;//20em
        height: 600px;//25em
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .slides{
            width: 600%;
            height: 500px;
            display: flex;
        }
        .slides input{
            display: none;
        }
        .slide{
            width: 20%; //20%
            //margin: 1em;
            transition: 2s;
            //padding: 0;
        }
        .slide img{
            width: 800px; //400px
            height: 500px; //400px
            object-fit: cover;
            //object-position: center;
        }
    }

    //manual slide nav
    .navigation-manual{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 36em; //27em
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid blue; //2px
        padding: 5px; //5px
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        //visibility: hidden;
        &:hover{
            background: blue;
        }
    }

    //automatic naviagation
    .navigation-auto{
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0);
        justify-content: center;
        margin-top: 36em;
    }
    .navigation-auto div{
        border: 2px solid blue;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px; //40px
    }

    #radio1:checked ~ .first{
        margin-left: 40%; //40%
    }
    #radio2:checked ~ .first{
        margin-left: 20%; //19%
    }
    #radio3:checked ~ .first{
        margin-left: 0%; //-3%
    }
    #radio4:checked ~ .first{
        margin-left: -20%; //-25%
    }
    #radio5:checked ~ .first{
        margin-left: -40%; //-46%
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: blue;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: blue;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: blue;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: blue;
    }
    #radio5:checked ~ .navigation-auto .auto-btn5{
        background-color: blue;
    }
}

//gridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGalgridGal
.containerGG{
    position: relative;
    min-height: 100vh;
    background: #ddd;
}

.containerGG .image-container{
    margin: 40px auto;
    width: 690px;
    height: 510px;
    background-color: gray;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 30px;
}

.containerGG .image-container .image{
    height: 150px;
    width: 150px;
    // border: 10px solid #fff;
    // box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.containerGG .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s linear;
}

.containerGG .image-container .image :hover img{
    transform: scale(1.3);
}

.containerGG .overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.containerGG .overlay .close{
    position: absolute;
    top: 2%;
    right: 15%;
    font-size: 50px; //HAVE TO CHANGE TO EM
    color: #ddd;
    cursor: pointer;
    z-index: 100;
}

.containerGG .overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 30%;
    object-fit: cover;
}

.containerGG .overlay .olol{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 25%;
    display: none;
}

.containerGG .overlay .info{
    color: #fff;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


//contactUScontactUScontactUScontactUScontactUScontactUScontactUScontactUScontactUS
section.contactUs{
    position: relative;
    h1{ //contact us header
        margin: 3rem;
        margin-top: 10rem;
        text-align: center;
        font-size: 3rem;
        letter-spacing: -.2rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 1px red;
        color: #000000;
    }
    .rectContact{//contact us wrapper/ contact form wrapper
        display: flex;
        justify-content: center;
        label{
            display: block;//take block space
            text-align: right;
            width: 8rem;//make labels not be overcrowded
            float: left; //place left of inputs
            margin-right: 1em;
            margin-top: 0;
            font-size: 1.2rem;
            color: lime;
        }
        input, textarea, select{
            font-weight: 400;
            margin: 0 1em;
            display: block;//take block space
            width: 12em; //uniform size of input fields
            min-height: 1.5em;
            margin-bottom: 2em;
        }
        .submitB{ //type submit
            display: block;//take block space
            width: 12em;
            margin: 0 auto;
            margin-top: 3em;
            font-size: 1.5rem;
            //font-weight: bold; MAYBE
            background-color: #233e97;
            border: none;
            color: #ffde59;
            box-shadow: 2px 2px 1px gray;
            cursor: pointer;
        }
    }
}
footer{
    width: 100%;
    margin-top: 2em;
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: .8rem;
        background-color: red;
        height: auto;
        a{
            font-family: sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: gray;
        }
        &:hover{
            a{
                color: blue;
                cursor: none;
            }
        }
    }
}

//@@@@@@@@@@@@@@ANIMATIONANIMATIONANIMATIONANIMATIONANIMATION
@keyframes moveDown{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveTopics{
    from{
        opacity: 0;
        transform: translateX(-15px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}