* {
  font-family: "Anton", sans-serif;
  margin: 0.5em;
}

header.navigation {
  display: flex;
  justify-content: space-between;
}
header.navigation nav {
  margin: 0;
  color: red;
  background: blue;
  position: fixed;
  height: 100vh;
  width: 50%;
  right: 0;
  top: 0;
  transform: translateX(100%);
}
header.navigation ul {
  list-style: none;
  margin-top: 5em;
  margin-left: -2em;
}
header.navigation ul li {
  display: block;
  margin: 2em;
}
header.navigation .diamond {
  position: absolute;
  margin: 0;
  margin-top: 1.2em;
  margin-left: 0.3em;
  color: red;
  font-size: 1.2rem;
}
header.navigation .menuIcon, header.navigation .closeIcon {
  position: absolute;
  color: limegreen;
  font-size: 1.3rem;
  right: 0;
  top: 0;
  margin: 1.2em;
}
header.navigation .menuLogo {
  text-shadow: 0px 3px 3px gray;
}

section.hero .heroImg {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: -8em;
  background: url(../images/kbnoGalleryHero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50em;
  width: 100%;
  z-index: -1;
}
section.hero .borderKbno, section.hero .borderKbno2 {
  display: block;
  position: absolute;
  margin-left: -0.5em;
  color: red;
  opacity: 0.5;
  rotate: 270deg;
  text-transform: uppercase;
  font-size: 10rem;
  z-index: -1;
}
section.hero .borderKbno {
  margin-top: 0.4em;
}
section.hero .borderKbno2 {
  margin-top: 3em;
}
section.hero .diamondB {
  position: absolute;
  color: purple;
  rotate: 270deg;
  font-size: 8rem;
  margin: 0;
  margin-left: -0.25em;
  margin-top: 1.88em;
  z-index: -1;
}
section.hero .welcomeM {
  position: relative;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: red;
  text-shadow: 3px 3px 5px black;
  top: 1em;
  -webkit-animation: moveDown 2s forwards;
          animation: moveDown 2s forwards;
}
section.hero .bubbles {
  display: flex;
  justify-content: center;
}
section.hero .bubbles p {
  text-align: center;
}
section.hero .circle1, section.hero .circle2, section.hero .circle3 {
  position: relative;
  top: 2.5em;
  border-radius: 50%;
  background-color: aqua;
  height: 8em;
  width: 8em;
  display: inline-block;
}
section.hero .circle1 .topic1, section.hero .circle1 .topic2, section.hero .circle1 .topic3, section.hero .circle2 .topic1, section.hero .circle2 .topic2, section.hero .circle2 .topic3, section.hero .circle3 .topic1, section.hero .circle3 .topic2, section.hero .circle3 .topic3 {
  position: relative;
  top: 1.5em;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: orange;
  -webkit-animation: moveTopics 4s forwards;
          animation: moveTopics 4s forwards;
}
section.hero .circle1 .bub1Cont, section.hero .circle1 .bub2Cont, section.hero .circle1 .bub3Cont, section.hero .circle2 .bub1Cont, section.hero .circle2 .bub2Cont, section.hero .circle2 .bub3Cont, section.hero .circle3 .bub1Cont, section.hero .circle3 .bub2Cont, section.hero .circle3 .bub3Cont {
  opacity: 0;
  color: gray;
}
section.hero .circle1:hover, section.hero .circle2:hover, section.hero .circle3:hover {
  height: 30em;
  width: 8em;
  border-radius: 10px;
  transition: ease-in-out 2s;
}
section.hero .circle1:hover .bub1Cont, section.hero .circle1:hover .bub2Cont, section.hero .circle1:hover .bub3Cont, section.hero .circle2:hover .bub1Cont, section.hero .circle2:hover .bub2Cont, section.hero .circle2:hover .bub3Cont, section.hero .circle3:hover .bub1Cont, section.hero .circle3:hover .bub2Cont, section.hero .circle3:hover .bub3Cont {
  transform: translateY(25px);
  opacity: 1;
  transition: ease-in-out 3s;
}
section.hero .circle2 {
  background-color: black;
}
section.hero .circle3 {
  background-color: orangered;
}

@-webkit-keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes moveTopics {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveTopics {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=main.css.map */