* {
  font-family: "Anton", sans-serif;
}

header.navigation {
  display: flex;
  justify-content: space-between;
}
header.navigation nav {
  margin: 0;
  color: red;
  background: blue;
  position: fixed;
  height: 100vh;
  width: 50%;
  right: 0;
  top: 0;
  transform: translateX(100%);
}
header.navigation ul {
  list-style: none;
  margin-top: 5em;
  margin-left: -2em;
}
header.navigation ul li {
  display: block;
  margin: 2em;
}
header.navigation .diamond {
  position: absolute;
  margin: 0;
  margin-top: 1.9em;
  margin-left: 1.1em;
  color: red;
  font-size: 1.2rem;
}
header.navigation .menuIcon, header.navigation .closeIcon {
  position: absolute;
  color: limegreen;
  font-size: 1.3rem;
  right: 0;
  top: 0.6em;
  margin: 1.2em;
}
header.navigation .menuLogo {
  margin: 0.8em;
  margin-left: 1em;
  font-size: 1.3rem;
  text-shadow: 0px 3px 3px gray;
}

section.hero {
  margin: 0.5em;
}
section.hero .heroImg {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: -8em;
  background: url(../images/kbnoGalleryHero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50em;
  width: 100%;
  z-index: -1;
}
section.hero .borderKbno, section.hero .borderKbno2, section.hero .borderKbno3 {
  display: block;
  position: absolute;
  margin-left: -0.4em;
  color: red;
  opacity: 0.5;
  rotate: 270deg;
  text-transform: uppercase;
  font-size: 10rem;
  z-index: -1;
}
section.hero .borderKbno {
  margin-top: 0.4em;
}
section.hero .borderKbno2 {
  margin-top: 3em;
}
section.hero .borderKbno3 {
  margin-top: 5.7em;
}
section.hero .diamondB, section.hero .diamondB2, section.hero .diamondB3 {
  position: absolute;
  color: purple;
  rotate: 270deg;
  font-size: 8rem;
  margin: 0em;
  margin-left: 0.27em;
  margin-top: 2.3em;
  z-index: -1;
}
section.hero .diamondB2 {
  margin-top: 5.6em;
}
section.hero .diamondB3 {
  margin-top: 9em;
  margin-bottom: 0;
  padding-bottom: 0;
}
section.hero .welcomeM {
  position: relative;
  margin: 0.5em;
  font-size: 3rem;
  text-align: center;
  color: red;
  text-shadow: 3px 3px 5px black;
  top: 1em;
  -webkit-animation: moveDown 2s forwards;
          animation: moveDown 2s forwards;
}
section.hero .bubbles {
  display: flex;
  justify-content: center;
}
section.hero .bubbles p {
  text-align: center;
}
section.hero .circle1, section.hero .circle2, section.hero .circle3 {
  position: relative;
  top: 2.5em;
  border-radius: 50%;
  background-color: #38b6ff;
  margin: 0.5em;
  margin-bottom: 10em;
  height: 8em;
  width: 8em;
  display: inline-block;
}
section.hero .circle1 .topic1, section.hero .circle1 .topic2, section.hero .circle1 .topic3, section.hero .circle2 .topic1, section.hero .circle2 .topic2, section.hero .circle2 .topic3, section.hero .circle3 .topic1, section.hero .circle3 .topic2, section.hero .circle3 .topic3 {
  margin: 0.5em;
  position: relative;
  top: 1.5em;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #004aad;
  -webkit-animation: moveTopics 4s forwards;
          animation: moveTopics 4s forwards;
}
section.hero .circle1 .topic2, section.hero .circle2 .topic2, section.hero .circle3 .topic2 {
  color: #008037;
}
section.hero .circle1 .topic3, section.hero .circle2 .topic3, section.hero .circle3 .topic3 {
  color: #ff914d;
}
section.hero .circle1 .bub1Cont, section.hero .circle1 .bub2Cont, section.hero .circle1 .bub3Cont, section.hero .circle2 .bub1Cont, section.hero .circle2 .bub2Cont, section.hero .circle2 .bub3Cont, section.hero .circle3 .bub1Cont, section.hero .circle3 .bub2Cont, section.hero .circle3 .bub3Cont {
  opacity: 0;
  color: gray;
}
section.hero .circle1:hover, section.hero .circle2:hover, section.hero .circle3:hover {
  height: 30em;
  width: 8em;
  border-radius: 10px;
  transition: ease-in-out 2s;
}
section.hero .circle1:hover .bub1Cont, section.hero .circle1:hover .bub2Cont, section.hero .circle1:hover .bub3Cont, section.hero .circle2:hover .bub1Cont, section.hero .circle2:hover .bub2Cont, section.hero .circle2:hover .bub3Cont, section.hero .circle3:hover .bub1Cont, section.hero .circle3:hover .bub2Cont, section.hero .circle3:hover .bub3Cont {
  transform: translateY(25px);
  opacity: 1;
  transition: ease-in-out 3s;
}
section.hero .circle2 {
  background-color: #7ed957;
}
section.hero .circle3 {
  background-color: #ffde59;
}

section.imageGal {
  position: relative;
  left: 17.5%;
  margin: 0;
  padding: 0;
  width: 65%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 30px;
}
section.imageGal .slider {
  width: 800px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.imageGal .slider .slides {
  width: 600%;
  height: 500px;
  display: flex;
}
section.imageGal .slider .slides input {
  display: none;
}
section.imageGal .slider .slide {
  width: 20%;
  transition: 2s;
}
section.imageGal .slider .slide img {
  width: 800px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.imageGal .navigation-manual {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 36em;
  display: flex;
  justify-content: center;
}
section.imageGal .manual-btn {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
section.imageGal .manual-btn:hover {
  background: blue;
}
section.imageGal .navigation-auto {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  margin-top: 36em;
}
section.imageGal .navigation-auto div {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
section.imageGal .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
section.imageGal .manual-btn:not(:last-child) {
  margin-right: 40px;
}
section.imageGal #radio1:checked ~ .first {
  margin-left: 40%;
}
section.imageGal #radio2:checked ~ .first {
  margin-left: 20%;
}
section.imageGal #radio3:checked ~ .first {
  margin-left: 0%;
}
section.imageGal #radio4:checked ~ .first {
  margin-left: -20%;
}
section.imageGal #radio5:checked ~ .first {
  margin-left: -40%;
}
section.imageGal #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: blue;
}
section.imageGal #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: blue;
}
section.imageGal #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: blue;
}
section.imageGal #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: blue;
}
section.imageGal #radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: blue;
}

section.gridGal .containerGG {
  position: relative;
  background: red;
  width: 65%;
  left: 17.5%;
  height: 65%;
  border-radius: 10px;
  padding: 1px;
  margin-top: 10em;
}
section.gridGal .containerGG .image-container {
  padding: 1px;
  margin: 40px auto;
  width: 690px;
  height: 510px;
  background-color: red;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px;
  gap: 30px;
}
section.gridGal .containerGG .image-container .imageGG {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
section.gridGal .containerGG .image-container .imageGG img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s linear;
}
section.gridGal .containerGG .image-container .imageGG:hover img {
  transform: scale(1.3);
}
section.gridGal .containerGG .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}
section.gridGal .containerGG .overlay .close {
  position: absolute;
  top: 2%;
  right: 15%;
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  z-index: 100;
}
section.gridGal .containerGG .overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.gridGal .containerGG .overlay .olol {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 25%;
}
section.gridGal .containerGG .overlay .ginfo {
  color: #fff;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

section.contactUs {
  position: relative;
}
section.contactUs h1 {
  margin: 3rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px red;
  color: #000000;
}
section.contactUs .rectContact {
  display: flex;
  justify-content: center;
}
section.contactUs .rectContact label {
  display: block;
  text-align: right;
  width: 8rem;
  float: left;
  margin-right: 1em;
  margin-top: 0;
  font-size: 1.2rem;
  color: lime;
}
section.contactUs .rectContact input, section.contactUs .rectContact textarea, section.contactUs .rectContact select {
  font-weight: 400;
  margin: 0 1em;
  display: block;
  width: 12em;
  min-height: 1.5em;
  margin-bottom: 2em;
}
section.contactUs .rectContact .submitB {
  display: block;
  width: 12em;
  margin: 0 auto;
  margin-top: 3em;
  font-size: 1.5rem;
  background-color: #233e97;
  border: none;
  color: #ffde59;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
}

footer {
  width: 100%;
  margin-top: 2em;
}
footer p {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  background-color: red;
  height: auto;
}
footer p a {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
footer p:hover a {
  color: blue;
  cursor: none;
}

@-webkit-keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes moveTopics {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveTopics {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=main.css.map */