*{
    font-family: 'Anton', sans-serif;
    margin: .5em;
}

header.navigation{
    display: flex;
    justify-content: space-between;
    
    nav{
        margin: 0;
        color: red;
        background: blue;
        position: fixed;
        height: 100vh;
        width: 50%;
        right: 0;
        top: 0;
        transform: translateX(100%);
    }
    ul{
        list-style: none;
        margin-top: 5em;
        margin-left: -2em;
        li{
            display: block;
            margin: 2em;
        }
    }

    //MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO
    .diamond{
        position: absolute;
        margin: 0;
        margin-top: 1.2em;
        margin-left: .3em;
        color: red;
        font-size: 1.2rem;
    }
    //MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO..MENULOGO
    .menuIcon, .closeIcon{
        position: absolute;
        color: limegreen;
        font-size: 1.3rem;
        right: 0;
        top: 0;
        margin: 1.2em;
    }
    .menuLogo{
        text-shadow: 0px 3px 3px gray;
    }
}//header menu nav

section.hero{
    .heroImg{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: -8em;
        background: url(../images/kbnoGalleryHero.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50em;
        width: 100%;
        z-index: -1;    
    }
    
    .borderKbno, .borderKbno2, .borderKbno3{
        display: block;
        position: absolute;
        margin-left: -.5em;
        color: red;
        opacity: .5;
        rotate: 270deg;
        text-transform: uppercase;
        font-size: 10rem;
        z-index: -1;
    }
    .borderKbno{
        margin-top: .4em;
    }
    .borderKbno2{
        margin-top: 3em;
    }
    .borderKbno3{
        margin-top: 5.7em;
    }
    .diamondB, .diamondB2, .diamondB3{
        position: absolute;
        color: purple;
        rotate: 270deg;
        font-size: 8rem;
        margin: 0;
        margin-left: -.25em;
        margin-top: 1.88em;
        z-index: -1;
    }
    .diamondB2{
        margin-top: 5.2em;
    }
    .diamondB3{
        //margin: 0;
        //padding: 0;
        margin-top: 8.55em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .welcomeM{
        position: relative;
        margin: 0;
        font-size: 3rem;
        text-align: center;
        color: red;
        text-shadow: 3px 3px 5px black;
        top: 1em;
        animation: moveDown 2s forwards;
    }
    .bubbles{
        display: flex;
        justify-content: center;
        p{
            text-align: center;
        }
    }
    .circle1, .circle2, .circle3{
        position: relative;
        top: 2.5em;
        border-radius: 50%;
        background-color: #38b6ff;
        height: 8em;
        width: 8em;
        display: inline-block;
        .topic1, .topic2, .topic3{
            position: relative;
            top: 1.5em;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #004aad;
            animation: moveTopics 4s forwards;
        }
        .topic2{
            color: #008037
        }
        .topic3{
            color: #ff914d;
        }
        .bub1Cont, .bub2Cont, .bub3Cont{
            opacity: 0;
            color: gray;
        }
        &:hover{
            height: 30em;
            width: 8em;
            border-radius: 10px;
            transition: ease-in-out 2s;
            .bub1Cont, .bub2Cont, .bub3Cont{
                transform: translateY(25px);
                opacity: 1;
                transition: ease-in-out 3s;
            }
        }
    }
    .circle2{
        background-color: #7ed957;
    }
    .circle3{
        background-color: #ffde59;
    }
}
section.imageGal{
    height: 2em;
    width: auto;
    margin-bottom: 20em;
}
section.contactUs{
    position: relative;
    h1{ //contact us header
        margin: 3rem;
        margin-top: 10rem;
        text-align: center;
        font-size: 3rem;
        letter-spacing: -.2rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 1px red;
        color: #000000;
    }
    .rectContact{//contact us wrapper/ contact form wrapper
        display: flex;
        justify-content: center;
        label{
            display: block;//take block space
            text-align: right;
            width: 8rem;//make labels not be overcrowded
            float: left; //place left of inputs
            margin-right: 1em;
            margin-top: 0;
            font-size: 1.2rem;
            color: lime;
        }
        input, textarea, select{
            font-weight: 400;
            margin: 0 1em;
            display: block;//take block space
            width: 12em; //uniform size of input fields
            min-height: 1.5em;
            margin-bottom: 2em;
        }
        .submitB{ //type submit
            display: block;//take block space
            width: 12em;
            margin: 0 auto;
            margin-top: 3em;
            font-size: 1.5rem;
            //font-weight: bold; MAYBE
            background-color: #233e97;
            border: none;
            color: #ffde59;
            box-shadow: 2px 2px 1px gray;
            cursor: pointer;
        }
    }
}
footer{
    width: 100%;
    margin-top: 2em;
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: .8rem;
        background-color: red;
        height: auto;
        a{
            font-family: sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: gray;
        }
        &:hover{
            a{
                color: blue;
                cursor: none;
            }
        }
    }
}

//@@@@@@@@@@@@@@ANIMATIONANIMATIONANIMATIONANIMATIONANIMATION
@keyframes moveDown{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveTopics{
    from{
        opacity: 0;
        transform: translateX(-15px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}